<!DOCTYPE html>
<html lang="pt-BR">

<head>

    <meta charset="UTF-8">

    <title>Plataforma E-commerce</title>

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

</head>

<body>

<header>

    <h1>Plataforma E-commerce</h1>

    <nav>

        <a href="{{ url_for('main.index') }}">
            Início
        </a>

        |

        <a href="{{ url_for('main.usuarios') }}">
            Usuários
        </a>

        |

        <a href="{{ url_for('main.categorias') }}">
            Categorias
        </a>

        |

        <a href="{{ url_for('main.anuncios') }}">
            Anúncios
        </a>

        |

        <a href="{{ url_for('main.perguntas') }}">
            Perguntas
        </a>

        |

        <a href="{{ url_for('main.compras') }}">
            Compras
        </a>

        |

        <a href="{{ url_for('main.favoritos') }}">
            Favoritos
        </a>

        |

        <a href="{{ url_for('main.relatorios') }}">
            Relatórios
        </a>

    </nav>

    <hr>

</header>


<main>

    {% block content %}

    {% endblock %}

</main>

</body>

</html>