{% extends "base.html" %}

{% block content %}

<h2>Relatórios</h2>

<h3>Relatório de vendas</h3>

<ul>

{% for venda in vendas %}

<li>

    {{ venda.anuncio.proprietario.nome }}

    vendeu

    {{ venda.quantidade }}x

    {{ venda.anuncio.titulo }}

    -

    Total:

    R$
    {{
        "%.2f"|format(
            venda.valor_unitario * venda.quantidade
        )
    }}

</li>

{% else %}

<li>
    Nenhuma venda registrada.
</li>

{% endfor %}

</ul>


<h3>Relatório de compras</h3>

<ul>

{% for compra in compras %}

<li>

    {{ compra.comprador.nome }}

    comprou

    {{ compra.quantidade }}x

    {{ compra.anuncio.titulo }}

    -

    Total:

    R$
    {{
        "%.2f"|format(
            compra.valor_unitario * compra.quantidade
        )
    }}

</li>

{% else %}

<li>
    Nenhuma compra registrada.
</li>

{% endfor %}

</ul>

{% endblock %}